@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @font-face {
      font-family: "Heavitas";
      src: url("/assets/fonts/Heavitas.ttf");
      font-weight: 400;
      font-display: swap;
  }


  @font-face {
      font-family: "SF Pro Display";
      src: url("/assets/fonts/SFPRODISPLAYREGULAR.OTF");
      font-weight: 400;
      font-display: swap;
  }

  @font-face {
      font-family: "SF Pro Display";
      src: url("/assets/fonts/SFPRODISPLAYMEDIUM.OTF");
      font-weight: 500;
      font-display: swap;
  }

  @font-face {
      font-family: "SF Pro Display";
      src: url("/assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF");
      font-weight: 600;
      font-style: italic, oblique;
      font-display: swap;
  }

  @font-face {
      font-family: "SF Pro Display";
      src: url("/assets/fonts/SFPRODISPLAYBOLD.OTF");
      font-weight: bold;
      font-display: swap;
  }

  html {
      scroll-behavior: smooth;
  }

  body {
      overflow-x: hidden;
      scroll-behavior: smooth;
      font-family: 'SF Pro Display', sans-serif;
      font-size: 18px;
  }

  .container-travelers {
      max-width: 1070px;
      width: 100%;
      margin: 0px auto;
  }

  .font-heavitas {
      font-family: "Heavitas", Helvetica, sans-serif;
  }
}